extends layout
block head

	link(rel= 'stylesheet', href= '/stylesheets/create_post.css')
	
	
block mainContent
	div.jumbotron
		div.size
			.alert.alert-danger(data-bind='visible: hasErrors')
				ul(data-bind='foreach: errors')
					li
						span(data-bind='text: $data')
			form(method='post')
				h1.margin_top Create a Post
				div.form-group(id='title_group')
					label.margin_top.font(for='title') Title
					input.form-control.font(id='title',type='text',name='title', data-bind='value: title')
				div.form-group(id='picture_group')
					label.margin_top.font(for='picture') Picture URL
					input.form-control.font(id='picture',type='text',name='picture', data-bind='value: picture')
				div.form-group(id='message_group')
					label.margin_top.font(for='message') Message
					textarea.form-control.height.font(id='message',name='message', data-bind='value: message')
					button.btn.btn-primary.margin_top.full(data-bind='click: submit') Submit
				
block scripts
	script(src='/javascripts/postVM.js')
		
		
	