include loginSingupButtonsMixin
include loginModalMixin
include singupModalMixin
extends layout

block navBarContent
    +loginSingupButtonsMixin()

block mainContent
    +loginModal()
    +signupModel()