include loginModalMixin
include singupModalMixin
include avatarOrSignupMixin
extends layout

block navBarContent
    +avatarOrSignupMixin(false)

block mainContent
    +loginModal()
    +signupModel()

block scripts
    script(src='/javascripts/signupVM.js')