doctype html
html
    link(rel= 'stylesheet', href= '/stylesheets/landingstyle.css')
    link(rel= 'stylesheet', href= '/bootstrap/css/bootstrap.min.css')
    meta(charset= 'UTF-8')
    meta(name ='viewport', content= 'width=device-width, initial-scale=1')
    script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src= '/bootstrap/js/bootstrap.min.js')
    link(rel= 'stylesheet', href= '/bootstrap/css/bootstrap.min.css')
    link(rel= 'stylesheet', type= 'text/css', href= '/bootstrap/css/styles.css')

    body(style='background:#222222')
        a(href= '/')
            img(src= '/images/SprkShareLanding.png', height='200', width='780')#center
        &nbsp;&nbsp;
        div#centerdiv
            div.child_div_1
                h3 Here at SprkShare, we seek to motivate those entrepreneurs that have
                    | an idea that has potential, while stopping others from following
                    | other ideas that do not. Start using SprkShare and see your ideal
                    | sparks be shared. We are SprkShare.
            div.child_div_2
                div#center
                    //&nbsp;&nbsp;&nbsp;
                    a(data-toggle= 'modal', href= '#login_modal') LogIn
                div(style='padding:5px')
                    h4(align="center") OR
                div#center
                    a(data-toggle= 'modal', href= '#sign_up_modal') Sign-Up
        &nbsp;&nbsp;&nbsp;
        div#centerdiv
            div.child_div_3
                h2(align="center") Top 3 Posts
                h3 My post
                h3 Your post
                h3 His post
            div.child_div_4
                h2(align="center") Top 3 Groups
                h3 My Group
                h3 Your Group
                h3 His Group
        div.navbar.navbar-default.navbar-fixed-bottom
            div.container
                p.navbar-text
                    @SprkShare 2014

    // BEGIN LOGIN MODAL
    div(class= 'modal fade' id= 'login_modal', tabindex='-1', role= 'dialog' aria-labelledby= 'myModalLabel', aria-hidden= 'true')
        div(class= 'modal-dialog')
            div(class= 'modal-content')
                div(class= 'modal-header')
                    button(type= 'button', class= 'close', data-dismiss= 'modal', aria-hidden= 'true') &times
                    h4(class= 'modal-title') LogIn

                        div(class= 'modal-body')
                            form(class= 'form-horizontal', role= 'form', method="POST", action="/auth/login")
                                div(class= 'form-group')
                                    label(for= 'email_log', class= 'control-label') Email:
                                    input(type= 'email', class= 'form-control', id= 'email_log', placeholder= 'you@awesome.com', name="email")

                                div(class= 'form-group')
                                    label(for= 'password_log', class= 'control-label') Password:
                                    input(type= 'password', class= 'form-control', id= 'password_log', placeholder= '********', name="password")

                                div(class= 'form-group')
                                    div(class= 'col-sm-10')
                                        div(class= 'checkbox')
                                            label Remember Me
                                                input(type= 'checkbox', value= 'Remember Me')
                                button(type= 'submit', class= 'btn btn-primary') LogIn

                                div(id= 'error')

                            div(class= 'modal-footer')
                                button(type= 'button', class= 'btn btn-default', data-dismiss= 'modal') Close
    // END LOGIN MODAL

    // BEGIN SIGN-UP MODAL
    div(class= 'modal fade', id= 'sign_up_modal', tabindex= '-1', role= 'dialog', aria-labelledby= 'myModalLabel', aria-hidden= 'true')
        div(class= 'modal-dialog')
            div(class= 'modal-content')
                div(class= 'modal-header')
                    button(type= 'button', class= 'close', data-dismiss= 'modal', aria-hidden= 'true')&times
                    h4(class= 'modal-title') Become a SprkUser!
                div(class= 'modal-body')
                    form(class= 'form-horizontal', role= 'form', method= 'POST', action= '/auth/register')

                        div(class= 'form-group')
                            label(for= 'email', class= 'col-sm-2 control-label') Email:
                            div(class= 'col-sm-10')
                                input(type= 'email', class= 'form-control', id= 'email', name= 'email', placeholder= 'you@awesome.com')

                        div(class= 'form-group')
                            label(for= 'password', class= 'col-sm-2 control-label') Password:
                            div(class= 'col-sm-10')
                                input(type= 'password', class= 'form-control', id= 'password', name= 'password', placeholder= '********')

                        div(class= 'form-group')
                            label(for= 'password_again', class= 'col-sm-2 control-label') Verify Password:
                            div(class= 'col-sm-10')
                                input(type= 'password', class= 'form-control', id= 'password_again', name= 'password_again', placeholder= 'Enter Again')

                        div(id= 'match_or_not')

                        div(class= 'modal-footer')
                            button(type= 'button', class= 'btn btn-default', data-dismiss= 'modal') Close
                            button(type= 'submit', class= 'btn btn-primary') Sign-Up
    // END SIGN-UP MODAL