include loginModalMixin
include singupModalMixin

doctype html
html

    meta(charset= 'UTF-8')
    meta(name ='viewport', content= 'width=device-width, initial-scale=1')
    link(rel= 'stylesheet', href= '/lib/bootstrap/css/bootstrap.min.css')
    link(rel= 'stylesheet', href= '/stylesheets/landingstyle.css')

    body
        .container
            a(href= '/')
                img(src= '/images/SprkShareLanding.png', height='200', width='780')#center
            .row
                div.col-md-8.well
                    h3 Here at SprkShare, we seek to motivate those entrepreneurs that have
                        | an idea that has potential, while stopping others from following
                        | other ideas that do not. Start using SprkShare and see your ideal
                        | sparks be shared. We are SprkShare.
              
                div.col-md-offset-1.col-md-3.well.full
                    a(data-toggle= 'modal', href= '#login_modal')
                        .btn.btn-primary#center LogIn
                    div(style='padding:5px')
                        h4(align="center") OR
                    a(data-toggle= 'modal', href= '#sign_up_modal')
                        .btn.btn-primary#center Sign-Up

            .row
                .col-md-5.well.margin
                    .panel.panel-default
                        .panel-heading Top 3 Posts
                        .panel-body
                            table
                                tbody
                                    each topPost in topPostsData
                                        tr
                                            td
                                                =topPost.PostId
                                            td
                                                =topPost.PostTitle
                                            td
                                                =topPost.PostShareCount
                .col-md-2
                .col-md-5.well.margin
                    .panel.panel-default
                        .panel-heading Most recent posts
                        .panel-body
                            table
                                tbody
                                    each recentPost in recentPostsData
                                        tr
                                            td
                                                =recentPost.PostId
                                            td
                                                =recentPost.PostTitle
                                            td
                                                =recentPost.PostedDate

            div.navbar.navbar-default.navbar-fixed-bottom
                div.container
                    p.navbar-text
                        | &copy; SprkShare 2014

    +loginModal()
    +signupModel()

    script(src='/lib/jquery/jquery.js')
    script(src='/lib/knockout/knockout-3.1.0.js', type="text/javascript")
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/authVM.js')