doctype html
html
    head
        meta(charset= 'UTF-8')
        meta(name ='viewport', content= 'width=device-width, initial-scale=1')
        title= title
        link(rel= 'stylesheet', href= '/stylesheets/style.css')
        link(rel= 'stylesheet', href= '/lib/bootstrap/css/bootstrap.min.css')

        // BLOCK FOR ADDING SCRIPTS OR LINKS IN THE HEAD
        block head

    body
        main
            // NAVBAR
            .navbar.navbar-inverse.navbar-fixed-top(role= 'navigation')
                .navbar-inner
                    .container
                        // LOGO
                        .navbar-header
                            button.navbar-toggle(type= 'button', data-toggle= 'collapse', data-target= '.navbar-collapse')
                              span.icon-bar
                              span.icon-bar
                              span.icon-bar
                            a(href= '/')
                              img(src= '/images/SprkShareLogo1.png')

                        // NAV BUTTONS
                        .navbar-collapse.collapse
                            ul.nav.navbar-nav
                                - var obj = { '/': 'Home', '/post': 'Post' }
                                each val, key in obj
                                    li
                                        a(href= '#{key}') #{val}

                        // BLOCK FOR ADDING CONTENT TO THE NAVBAR
                        block navBarContent

            // BLOCK FOR CONTENT OF THE PAGE
            block mainContent

          div.navbar.navbar-default.navbar-fixed-bottom
              div.container
                  p.navbar-text
                      &copy;Sprkshar 2014
        block footer

        script(src='/lib/jquery/jquery.js')
        script(src='/lib/javascripts/knockout-3.1.0.js', type="text/javascript")
        script(src='/lib/bootstrap/js/bootstrap.min.js')
        // BLOCK FOR ADDING SCRIPTS AT THE END OF THE BODY
        // NOTE: is better to include scripts here for rendering performance reasons
        block scripts