mixin loginSingupButtonsMixin()
    // MODAL BUTTONS - Login | Sign-Up
    // Padding between logo and buttons
    .btn-group
        a.btn.btn-primary.fron_button(data-toggle='modal', href= '#login_modal') LogIn
        a.btn.btn-primary.fron_button(data-toggle='modal', href= '#sign_up_modal') Sign-Up