mixin loginModal()
    div(class='modal fade', id='login_modal', tabindex='-1', role= 'dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type= 'button', class= 'close', data-dismiss= 'modal', aria-hidden= 'true') &times
                    h4(class= 'modal-title') LogIn

                    div(class= 'modal-body')
                        form(class= 'form-horizontal', role= 'form', method="POST", action="/auth/login")
                            div(class= 'form-group')
                                label(for= 'email_log', class= 'control-label') Email:
                                input(type= 'email', class= 'form-control', id= 'email_log', placeholder= 'you@awesome.com', name="email")

                            div(class= 'form-group')
                                label(for= 'password_log', class= 'control-label') Password:
                                input(type= 'password', class= 'form-control', id= 'password_log', placeholder= '********', name="password")

                            div(class= 'form-group')
                                div(class= 'col-sm-10')
                                    div(class= 'checkbox')
                                        label Remember Me
                                            input(type= 'checkbox', value= 'Remember Me')
                            button(type= 'submit', class= 'btn btn-primary') LogIn

                            div(id= 'error')

                        div(class= 'modal-footer')
                            button(type= 'button', class= 'btn btn-default', data-dismiss= 'modal') Close
