mixin loginModal
    // MODAL BUTTONS - Login | Sign-Up
    // Padding between logo and buttons
    &nbsp;&nbsp;&nbsp;
    a(data-toggle= 'modal', href= '#login_modal', class= 'btn btn-primary front_button separation') LogIn
    // Padding between buttons
    &nbsp;&nbsp;&nbsp;
    a(data-toggle= 'modal', href= '#sign_up_modal', class= 'btn btn-primary front_button') Sign-Up