mixin signupModel()
    div(class= 'modal fade', id= 'sign_up_modal', tabindex= '-1', role= 'dialog', aria-labelledby= 'myModalLabel', aria-hidden= 'true')
        div(class= 'modal-dialog')
            div(class= 'modal-content')
                div(class= 'modal-header')
                    button(type= 'button', class= 'close', data-dismiss= 'modal', aria-hidden= 'true') &times
                    h4(class= 'modal-title') Become a SprkUser!
                div(class= 'modal-body')
                    div(class= 'form-horizontal')

                        div(class= 'form-group', id='emailControlSignup')
                            label(for= 'emailInput', class= 'col-sm-2 control-label') Email:
                            div(class= 'col-sm-10')
                                input(type= 'email', class= 'form-control', id= 'emailInput', name= 'email', placeholder= 'you@awesome.com', data-bind='value: email')

                        div(class= 'form-group', id='passwordControlSignup')
                            label(for= 'passwordInput', class= 'col-sm-2 control-label') Password:
                            div(class= 'col-sm-10')
                                input(type= 'password', class= 'form-control', id= 'passwordInput', name= 'password', placeholder= '********', data-bind='value: password')

                        div(class= 'form-group', id ='passwordRetypeControl')
                            label(for= 'passwordRetype', class= 'col-sm-2 control-label') Verify Password:
                            div(class= 'col-sm-10')
                                input(type= 'password', class= 'form-control', id='passwordRetype', name= 'password_again', placeholder= 'Enter Again', data-bind='value: passwordRetype')

                        .alert.alert-danger(data-bind='visible: hasErrors')
                            ul(data-bind='foreach: errors')
                                li
                                    span(data-bind='text: $data')

                        div(class= 'modal-footer')
                            button(type= 'button', class= 'btn btn-default', data-dismiss= 'modal') Close
                            button(class= 'btn btn-primary', data-bind='click: submit') Sign-Up

