include avatarOrSignupMixin
include updateAvatarModalMixin
extends layout

head
  title= title

block navBarContent
  +avatarOrSignupMixin(true)

block mainContent
  div(class= 'container special')
    header#overview.jumbotron
      h2 User Overview
        div.btn-group.float
          a.btn.btn-primary.fron_button(data-toggle='modal', href= '#update_avatar_modal')
            span
              | Change Avatar

      div.tabbable.tabs-below
        div.tab-content
          div.tab-pane.active

      div.tabbable.tabbable
        ul.nav.nav-tabs
          li.active
            a(href= '#posts', data-toggle= 'tab') Posts
         // li
            a(href= '#followees', data-toggle= 'tab', data-bind= 'click: getUserFollowees') Followees

        div.tab-content
          div(class= 'tab-pane active', id= 'posts')
            div(id ='left', class= 'container')
              ul.nav.nav-stacked
                li
                  a(href= '#posts', id= 'getUserAllPosts', data-bind= 'click: performUserRequest') View All
                li
                  a(href= '#posts', id= 'getUserTempPosts', data-bind= 'click: performUserRequest') Temporary Posts
                li
                  a(href= '#posts', id= 'getUserPermPosts', data-bind= 'click: performUserRequest') Permanent Posts

            div(id= 'right', class= 'container')
              table
                tbody(data-bind= 'foreach: rightContent')
                  tr
                    td
                      div.postContent
                        span
                          a(href= '/userpage')
                            span(data-bind= 'text: posttitle')
                          div(data-bind= 'text: postsharecount').float
                          div
                            span(data-bind= 'text: postcontent')
                // TODO: Display the Posts depending on what attribute the user clicks

          //div(class= 'tab-pane', id= 'followees')
          //  div(id ='left', class= 'container')
          //    // each followee in userFollowees
          //      div.followeeDisplay
          //        =followee.username
          //      // TODO: Display the Followees of the User.
          //
          //
          //  div(id= 'right', class= 'container')
          //    p
          //      // TODO: Get the Followees Posts to display.
          //
          //
          //TODO: If have time.
          //div(class= 'tab-pane', id= 'groups')
          //  div(id= 'left', class= 'container')
          //    p(style= 'white-space: pre')
          //      | Group
          //  div(id= 'right', class= 'container')
          //    p(style= 'white-space: pre')
          //      | Post.
          //
          //div(class= 'tab-pane', id= 'followers')
          //  div(id ='left', class= 'container')
          //    p(style= 'white-space: pre')
          //      | Follower
          //
          //  div(id= 'right', class= 'container')
          //    p(style= 'white-space: pre')
          //      | Post.
          //

    +updateAvatarModal()

block scripts
    link(rel= 'stylesheet', href= '/stylesheets/userpagestyle.css')
    script(src= '/javascripts/userpageVM.js')

