include avatarOrSignupMixin
include updateAvatarModalMixin
extends layout

head
  title= title

block navBarContent
  +avatarOrSignupMixin(true)

block mainContent
  div(class= 'container special')
    header#overview.jumbotron
      h2 User Overview
      div.btn-group
        a.btn.btn-primary.fron_button(data-toggle='modal', href= '#update_avatar_modal')
          span
            | Change Avatar
      div.tabbable.tabs-below
        div.tab-content
          div.tab-pane.active

      div.tabbable
        ul.nav.nav-tabs
          li.active
            a(href= '#posts', data-toggle= 'tab') Posts
          li
            a(href= '#friends', data-toggle= 'tab') Friends
          li
            a(href= '#groups', data-toggle= 'tab') Groups
          li 
            a(href= '#followers', data-toggle= 'tab') Followers

        div.tab-content
          div(class= 'tab-pane active', id= 'posts')
            div(id ='left', class= 'container')
              p
                a(href= '#right', data-bind= 'value: getAllUserPosts') View All </br>
                a(href= '#right', data-bind= 'value: getUserTempPosts') Temporary Posts </br>
                a(href= '#right', data-bind= 'value: getUserPermPosts') Permanent Posts </br>

            div(id= 'right', class= 'container')
              p(style= 'white-space: pre')


              
          div(class= 'tab-pane', id= 'friends')
            div(id ='left', class= 'container')
              p(style= 'white-space: pre')
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend
                | Friend


            div(id= 'right', class= 'container')
              p(style= 'white-space: pre')
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
        
          div(class= 'tab-pane', id= 'groups')
            div(id= 'left', class= 'container')
              p(style= 'white-space: pre')
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group
                | Group

            div(id= 'right', class= 'container')
              p(style= 'white-space: pre')
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
        
          div(class= 'tab-pane', id= 'followers')
            div(id ='left', class= 'container')
              p(style= 'white-space: pre')
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower
                | Follower


            div(id= 'right', class= 'container')
              p(style= 'white-space: pre')
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.
                | Post.

    +updateAvatarModal()

    block scripts
        script(src= '/javascripts/changeAvatar.js')
        script(src= '/javascripts/updateUserPosts.js')

