extends layout

block head
    link( rel='stylesheet', href='/stylesheets/viewpoststyle.css')


block scripts
    script(src='javascripts/viewpostjs.js', type="text/javascript")





block mainContent
    // MastHead. Has title and description
    div#postHeader
       div.container#postHeaderContainer
            div.row
                div.col-md-7.text-center
                    div#postTitle
                        h1=postRowsData[0].posttitle
                    //
                      div#postDescription
                        h3 Post description

                div.col-md-5
                    div.well.well-sm
                        div.row
                            div.col-sm-6
                                a(href='userpage')
                                    img.img-circle.img-responsive#userImg(src='images/default_avatar.png')
                            div.col-sm-6
                                p.
                                    | User Name
                                    | Can even add an about me section...?
       block PostHeader
    // Actual content of the post, includes contribution
    div#postContentBlock
       div.container
            div.row
                div.col-md-1#leftCol
                    ul.nav.nav-stacked#sidebar
                         li
                            div.btn-group
                                div.add.btn.btn-primary(data-toggle='modal', href='#createcontribution')
                                    span
                                        |  | Contribute


                div.col-md-11#rightCol

                   div.postContent
                       =postRowsData[0].postcontent

                   each contribution in contributionsRowsData
                        div.postContribution
                            =contribution.contribcontent





