extends layout

block head
    link( rel='stylesheet', href='/stylesheets/viewpoststyle.css')


block scripts
    script(src='javascripts/viewpostjs.js', type="text/javascript")
  //
    script(type='text/javascript').
        var rowsData = !{rowsData}



block mainContent
    // MastHead. Has title and description
    div#postHeader
       div.container#postHeaderContainer
            div.row
                div.col-md-7.text-center
                    div#postTitle
                        h1 Post Title
                    div#postDescription
                        h3 Post description

                div.col-md-5
                    div.well.well-sm
                        div.row
                            div.col-sm-6
                                a(href='userpage')
                                    img.img-circle.img-responsive#userImg(src='images/default_avatar.png')
                            div.col-sm-6
                                p.
                                    | User Name
                                    | Can even add an about me section...?
       block PostHeader
    // Actual content of the post, includes contribution
    div#postContentBlock
       div.container
            div.row
                div.col-md-1#leftCol
                    ul.nav.nav-stacked#sidebar
                         li
                            div.btn-group
                                div.add.btn.btn-primary(data-toggle='modal', href='#createcontribution')
                                    span
                                        |  | Contribute


                div.col-md-11#rightCol
                    div.postContent
                        | Post Content.
                    div.postContribution
                        a(href='userpage')
                            img( src= '/images/default_avatar.png', height= '30', width= '30' )
                        a(href='userpagepage')
                            | User 1
                        div.postContributionContent
                            h1=rowsData[0].contribcontent
                    div.postContribution
                        a(href='userpage')
                            img( src= '/images/default_avatar.png', height= '30', width= '30' )
                        a(href='userpage')
                            | User 2
                        div.postContributionContent
                            | 2nd contribution
                            | To start a Node.js script from a file, simply run $ node filename, e.g., $ node program.js. If all we need is a quick set of statements, there’s a -e option that allow to run inline JavaScript/Node.js, e.g., $ node -e "console.log(new Date());".
                    div.postContribution
                        a(href='userpage')
                            img( src= '/images/default_avatar.png', height= '30', width= '30' )
                        a(href='userpage')
                            | User 2
                        span
                            | 3rd contribution

                   //
                    table
                        tbody(data-bind="foreach: rowsData")
                            tr
                                td.postContribution

                                   a( data-bind='href : userpage')
                                        img( data-bind="src : userImage", height='30', width='30')
                                    div( data-bind="text: contributionText" )






