.align {
    right: 300px;
}

.float {
    float: right;
}

#left {
    overflow-y: scroll;
    overflow: auto;
    float: left;
    width: 275px;
    max-height: 400px;
    height: 400px;
    border-style: solid;
    border-color: rgba(149, 165, 166, 1.0);
    border-width: 1px;
    background-color: rgba(149, 165, 166, 0.5);
}

#right {
    overflow-y: scroll;
    overflow: auto;
    float: right;
    width: 65%;
    max-height: 400px;
    height: 400px;
    border-style: solid;
    border-color: rgba(149, 165, 166, 1.0);
    border-width: 1px;
    background-color: rgba(149, 165, 166,0.5);
}

#getUserAllPosts {
    border-bottom:1px solid black;
    font-weight: bold;
}

#getUserTempPosts {
    border-bottom:1px solid black;
    font-weight: bold;
}

#getUserPermPosts {
    border-bottom:1px solid black;
    font-weight: bold;
}

.postContent{
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    background-color: white;
}

html,body {height:100%;}
.special,.special .jumbotron {height:620px;}