mixin viewpostHeader(postRowsData)
    div#postHeader.container
        div.row
            div.col-md-7.text-center.container
                div#postTitle
                    h1=postRowsData[0].posttitle
                div#postContent
                    =postRowsData[0].postcontent
            div.col-md-5
                div.well.well-sm
                    div.row
                        div.col-sm-6
                            // TODO: Fix href in Ryan's code before pushing.
                            a(href='/userpage')
                                img.img-responsive#userImg(src=postRowsData[0].userpicurl)
                        div.col-sm-6
                            p.text-center#postUserName= postRowsData[0].username
                            p.text-center#postUserDescription= postRowsData[0].userdescription




