mixin viewpostContributions(postRowsData, contributionsRowsData)
    div#postContentBlock.container
        div.row

            div.col-md-12#rightCol

                div.btn-group
                    a.btn.add.btn-primary#addContributionButton(href="#inputContribution")
                        span
                            |  | Contribute

                each contribution in contributionsRowsData
                    div.postContribution
                        =contribution.contribcontent

                div#newContribution(data-bind="value: newContribution")

                formn#inputContribution(data-bind="visibility: inputContribution")
                    textarea#inputContributionContent.form-control( type='text', data-bind="value: contributionToAdd")
                    div.add.btn.btn-primary#submitContribution(data-bind="click: submitContribution")

