mixin viewpostContributions(postRowsData, contributionsRowsData)
    #postContentBlock.container
        .row
            .col-md-12#rightCol
                .btn-group
                    a.btn.add.btn-primary#addContributionButton(href='#inputContribution')
                        span Contribute

                table
                    tbody(data-bind='foreach: contributions')
                        tr
                            td
                                div.postContribution
                                    span
                                        //
                                        //a(data-bind='href: ')
                                        a(data-bind= 'attr: { href:  }')
                                            //img.img-circle#contributorsPic(src='/images/default_avatar.png',height,'30', width='30')
                                            img.img-circle#contributorsPic(data-bind='attr: {src: userpicurl}')
                                            span(data-bind='text: username')
                                    div
                                        span(data-bind='text: content')

                #newContribution
                    form#inputContribution
                        textarea#inputContributionContent.form-control(type='text', data-bind='value: newContributionContent')
                        .add.btn.btn-primary#submitContribution(data-bind='click: submitContribution')
